<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Estudo_ListView_Estilo_PDV.Properties.Settings.String"
            connectionString="Data Source=LAPTOP-000NHHJV;Initial Catalog=PDV;User ID=sa;Password=Paradoxo22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>