<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexaoSql.Properties.Settings.String" connectionString="Data Source=DESKTOP-PPP09CP;Initial Catalog=PDV;User ID=Sa;Password=Paradoxo22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>