<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.String" connectionString="Data Source=LAPTOP-19BHTV0U;Initial Catalog=PDV;User ID=sa;Password=Paradoxo22"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>